<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Recommendations</title>
    <style>
        .content {
            margin: auto auto auto 10%;
            padding-top: 10%;
        }
        .header {
            font-size: large;
        }
        .left {
            font-weight: bold;
            color: darkslategrey;
        }
        .right {
            font-weight: bold;
            color: darkblue;
        }
    </style>
</head>
<body class="content">

<p class="header">Hierarchical clustering:</p>
<br/>

{{ cluster }}

</body>
</html>