<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Recommendations</title>
    <style>
        .content {
            max-width: 800px;
            margin: auto;
            padding-top: 10%;
        }
        .empty {
            color: red;
        }
        .header {
            font-size: large;
        }
    </style>
</head>
<body class="content">

<p class="header">Clustering <strong>{{ blog_count }}</strong> blogs into <strong>{{ k_count }}</strong> clusters using <strong>{{ iter_count }}</strong> iterations:</p>
<br/>

{% for centroid in centroids %}
<p>
    {% if centroid.assignments | length == 0 %}
        <span class="empty">EMPTY</span>
    {% else %}
    <strong>{{ centroid.assignments | length }} blogs: </strong>
        {% for blog in centroid.assignments %}
            {{ blog.name }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endif %}
</p>
{% if not loop.last %}<hr/>{% endif %}
{% endfor %}

</body>
</html>